body{
    background: linear-gradient(to right, red, yellow);
}
.block{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
  flex-wrap: wrap;
  gap: 20px;
}
.cardd{
    padding: 20px;
    width: 600px;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    border-radius: 20px;
}
.div{
    padding: 20px;
    height: 400px;
    width: 600px;
      background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex-wrap: wrap;
}
.txt{
    text-decoration: none;
    margin-left: 20px;
    transition: all 0.6s ease-in-out;
}
.txt:hover{
    text-decoration: underline;
    transition: all 0.6s ease-in-out;
    transform: translateY(-5px);
}
@media (max-width:1280px){
    .txt{
        color: red;
    }
    .block{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .cardd{
         display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 20%;
    }
}